@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700i|Source+Sans+Pro&display=swap");

body {
  background-color: #fffcf2;
}

.global {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  width: 800px;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

h1 {
  font-family: "Playfair Display", serif;
  color: #252422;
  font-size: 1.5rem;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  color: #252422;
  margin: 7px;
}

.special {
  white-space: pre;
}
.row {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin: 5px 0px;
}

.big {
  font-size: 1.5rem;
  position: relative;
  top: 5px;
}
.add {
  margin: 0px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #fffcf2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #eb5e28;
}

.add:hover {
  cursor: pointer;
  box-shadow: none;
}

.add:focus {
  outline: none;
}

.template {
  resize: none;
  height: 120px;
  width: 100%;
  box-sizing: border-box;
  padding: 4px;
  border: 1px dotted #eb5e28;
  font-size: 1rem;
}

.template:focus {
  outline: none;
}

.dataGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  grid-column-gap: 10px;
  margin: 10px 0px;
}

.inputHolder {
  box-sizing: border-box;
  padding: 10px;
  margin: 0px 0px 10px 0px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

span {
  color: #eb5e28;
}

.dataInput {
  box-sizing: border-box;
  padding: 4px;
  width: 100%;

  height: 50px;
  border: 1px dotted #eb5e28;
  font-size: 2rem;
}

.dataInput:focus {
  outline: none;
}
